<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cursor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{18,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cursor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{18,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cursor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{18,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cursor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{18,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cursor.png</string>
            <key>size</key>
            <string>{22,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce9bafecf7d18d4ff44db5f6cd499b0a:af979ca902cd35b602a29bcfd70dc364:ae917e212b0d09be26b80038d0eb742f$</string>
            <key>textureFileName</key>
            <string>cursor.png</string>
        </dict>
    </dict>
</plist>
