<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>larva_brainwash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{54,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>larva_brainwash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>larva_brainwash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{54,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>larva_brainwash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{54,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>larva_brainwash.png</string>
            <key>size</key>
            <string>{58,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7171103256055c51a1bac2f47a95813a:a6a62be1e8e6fc5938fa4edd91453a8d:a2c3347a053f231f55ddf76ce484f69b$</string>
            <key>textureFileName</key>
            <string>larva_brainwash.png</string>
        </dict>
    </dict>
</plist>
