<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{44,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{44,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_brainwash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{46,90}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>male_brainwash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{46,88}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>male_brainwash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{46,92}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>male_brainwash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{46,94}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>male_feed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_feed_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_train_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_train_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{52,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_train_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{48,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>male.png</string>
            <key>size</key>
            <string>{56,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7655c51c08f4768d4478e9bf91e82367:ff49fb4bcaa0d6d03e162e6bd01181bb:c2a7ac61649d34400016690d198ec885$</string>
            <key>textureFileName</key>
            <string>male.png</string>
        </dict>
    </dict>
</plist>
