<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_brainwash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{46,90}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>soldier_brainwash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,94}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>soldier_brainwash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,92}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>soldier_brainwash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{46,88}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier_brainwash.png</string>
            <key>size</key>
            <string>{50,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d226e38d20ffdb0a4a17f64920c039:fd74611307734b3cbd3c3917ccedbddf:fb7b48262f7325a4fea4449254b5095f$</string>
            <key>textureFileName</key>
            <string>soldier_brainwash.png</string>
        </dict>
    </dict>
</plist>
