<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_train_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soldier_train_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soldier_train_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{48,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier_train.png</string>
            <key>size</key>
            <string>{56,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49f5038667bd217e94fe6c95740f5816:96deec7008e9457a007b1c2f233a679d:1a24cf7d7c430d0947f2bedc9d65cb76$</string>
            <key>textureFileName</key>
            <string>soldier_train.png</string>
        </dict>
    </dict>
</plist>
