<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{44,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soldier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soldier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{44,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soldier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.png</string>
            <key>size</key>
            <string>{56,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:990eebbccbfb99b5890d057806fe0cfb:11bc2baad4f82fd3f882ad3d9cbb86c9:ad069a754eec08895b02fc06964d2103$</string>
            <key>textureFileName</key>
            <string>soldier.png</string>
        </dict>
    </dict>
</plist>
