<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worker_brainwash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{46,90}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>worker_brainwash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{46,88}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>worker_brainwash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,92}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>worker_brainwash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,94}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worker_brainwash.png</string>
            <key>size</key>
            <string>{50,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267d7d5192d98f8bb21ab849c1a8a4d9:8409b5182bcdbe87fe632b66e49e95ee:94bbf3d986d5d289e2369e20be525048$</string>
            <key>textureFileName</key>
            <string>worker_brainwash.png</string>
        </dict>
    </dict>
</plist>
