<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{44,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{44,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worker.png</string>
            <key>size</key>
            <string>{56,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92f4b7817ad1afbbb553a64ab22f17e6:f161c4f5fa252ab4a5e4295d9ea61443:7eb6baf54809b74dbad2cef5a5abb351$</string>
            <key>textureFileName</key>
            <string>worker.png</string>
        </dict>
    </dict>
</plist>
